/* variables.scss */

/* Цвета */
$main-color: #FFFFFF; /* Основной цвет */
$accent-color: #FF852A; /* Акцентный цвет */
$decor-color: #737373 ; /* Основной цвет шрифта */
$main-font-color: #FFFFFF; /* Основной цвет шрифта */
$secondary-font-color: #292933; /* Второстепенный цвет шрифта */
